@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 44em) {
  .logo-box {
    margin-left: 10rem;
  }
  .btn-mobile-nav {
    border: none;
    display: block;
    background-color: var(--white-color);
    z-index: 100;
    position: absolute;

    top: 3.8rem;
    left: 5rem;
  }
  .nav {
    margin: 0;
    position: absolute;
    background-color: var(--white-color);
    top: 0;
    left: 0;
    height: 100vh;
    width: 60%;
    z-index: 40;
    display: none;
  }
  .nav__list {
    margin: 10rem auto auto 5rem;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
  }
  .nav__link {
    line-height: 5rem;
    font-weight: 700;
    color: var(--secondary-color-dark);
  }
  .nav-open .nav {
    display: block;
    pointer-events: auto;
    visibility: visible;
  }
  .btn-close-nav {
    display: none;
  }
  .btn-open-nav {
    display: block;
  }
  .nav-open .btn-close-nav {
    display: block;
  }
  .nav-open .btn-open-nav {
    display: none;
  }
}

/* Mobile View */
@media (max-width: 35em) {
  .logo {
    width: 15rem;
    height: auto;
  }
  .profile-box {
    gap: 1.2rem;
  }
  .main-btn--prev,
  .main-btn--next {
    display: block;
  }
  .container {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
  }
  .product__img--list {
    display: none;
  }
  .product__img {
    border-radius: 0;
  }
  .cta {
    margin: auto;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 90%;
    margin-bottom: 2rem;
  }
  .btn-cta {
    height: 6rem;
  }
  .product__qty {
    width: 100%;
    justify-content: space-between;
  }
  .heading-1,
  .sub-heading,
  .product__description-text,
  .pricing {
    margin: auto;
    width: 90%;
  }
  .pricing {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: center;
  }
  .heading-1 {
    margin-bottom: 2rem;
  }
  .product__description-text {
    margin-bottom: 1.5rem;
  }
  .overlay {
    display: none;
  }
  .cart {
    width: 90vw;
    top: 230%;
    left: -310%;
  }
}
